{% extends "base.html" %} {% block head %} {{ super() }}
<style type="text/css">
  .list-group-flush > .list-group-item:last-child {
    border-bottom-width: 1px !important;
  }
  .hiden-link {
    z-index: 4;
    --bs-text-opacity: 0;
  }
  .hiden-link:hover {
    --bs-text-opacity: 1 !important;
  }
</style>
{% endblock %} {% block main %}
<div class="mx-md-3 my-4 row">
  <h1 class="display-4 fw-normal text-center">Accidents History Searching Tools</h1>

  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h2>Search accidents from drivers</h2>
        <form method="POST">
          <p>Please type userId: 
              <input type="text" name="userid"> 
              <input type="submit" value="Search">
          </p>
        </form>


      </div>
      <div class="col">
        <h2>Search accidents from vehicles</h2>
        <form method="POST" action="/searchInVehicles">
          <p>Please type vehicle plate number: 
              <input type="text" name="plate_num"> 
              <input type="submit" value="Search">
          </p>
        </form>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Plate number</th>
              <th scope="col">Use of Year</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% for value in data_vehicles %}
            <tr>
              <td>{{ value['plate_number'] }}</td>
              <td>{{ value['use_year'] }}</td>
            </tr>
            <p>Note: Please click <a href="/tool">Tools</a> in bar if you want to search in another way.</p>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
  

  {% endblock %}



<!-- <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
</div> -->


  <!-- {% for value in data %}
  <p>
    Your personal information: Age:{{ value['age'] }}
  </p>
  {% endfor %} -->
  